
header {
	background-color: gray;
	padding: 1em;
}

.div-color {
	background-color: lightgray;
	padding: .5em;
}

.reflection {
	 outline: auto;
	 text-align: center;
	 padding: 4em;
	 background-color: black;
	 color: ghostwhite;
	 text-decoration: none;
 }

h4 {
	text-align: center;
	padding-bottom: .5em;
}

h3 {
	text-align: center;
}

.icons {
	display: block;
	margin: auto;
	font-size: 1em;
}

img {
	display: block;
	margin: auto;
}