
header {
	background-color: gray;
	padding: 1em;
}

.div-color {
	background-color: lightgray;
	padding: .5em;
}

.reflection {
	 text-align: center;
	 padding: 4em;
	 color: ghostwhite;
	 text-decoration: none;
 }

h4 {
	text-align: center;
	padding-bottom: .5em;
}

h3 {
	text-align: center;
}

.icons {
	display: block;
	margin: auto;
}

img {
	display: block;
	margin: auto;
}

footer {
	text-align: center;
	display: block;
	margin: auto;
	padding: 1em;
}

a {
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 10px;
}

p {
	color: black;
	text-align: center;
	display: inline-block;
}

.col-md-4 {
	 display: inline-block;
 }

.about {
	text-align: center;
	padding: 4em;
	text-decoration: none;
}

.balance {
	text-align: center;
	text-decoration: none;
	padding: 4em;
}

.hide {
	text-align: center;
	color: white;
}